<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @item.title %>
</p>

<p>
  <strong>Text1:</strong>
  <%= @item.text1 %>
</p>

<p>
  <strong>Some link:</strong>
  <%= @item.some_link %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
